In [1]:
# Import Libraries

In [2]:
import pandas as pd
import numpy as np

Load  Datasets Using Pandas

In [4]:
# Load main dataset
raw_data = pd.read_csv('data/raw_data.csv', encoding='ISO-8859-1')

Convert InvoiceDate to Date Format

In [5]:
# Convert date column to datetime format
raw_data['InvoiceDate'] = pd.to_datetime(raw_data['InvoiceDate'], errors='coerce')

Create Incremental Subset (Recent Month or Random Sample)

In [6]:
# Get the latest month from the dataset
latest_month = raw_data['InvoiceDate'].dt.to_period('M').max()
incremental_data = raw_data[raw_data['InvoiceDate'].dt.to_period('M') == latest_month]

In [7]:
# Save to the data folder
incremental_data.to_csv('data/incremental_data.csv', index=False)
print("Incremental dataset saved with shape:", incremental_data.shape)

Incremental dataset saved with shape: (25525, 8)

In [8]:
print("RAW DATA HEAD:")
print(raw_data.head())

print("\nRAW DATA INFO:")
raw_data.info()

print("\nRAW DATA DESCRIPTION:")
print(raw_data.describe())

print("\nINCREMENTAL DATA HEAD:")
print(incremental_data.head())

print("\nINCREMENTAL DATA INFO:")
incremental_data.info()

print("\nINCREMENTAL DATA DESCRIPTION:")
print(incremental_data.describe())

RAW DATA HEAD:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

RAW DATA INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

RAW DATA DESCRIPTION:
            Quantity                    InvoiceDate      UnitPrice  \
count  541909.000000                         541909  541909.000000
mean        9.552250  2011-07-04 13:34:57.156386048       4.611114
min    -80995.000000            2010-12-01 08:26:00  -11062.060000
25%         1.000000            2011-03-28 11:34:00       1.250000
50%         3.000000            2011-07-19 17:17:00       2.080000
75%        10.000000            2011-10-19 11:27:00       4.130000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       218.081158                            NaN      96.759853

          CustomerID
count  406829.000000
mean    15287.690570
min     12346.000000
25%     13953.000000
50%     15152.000000
75%     16791.000000
max     18287.000000
std      1713.600303

INCREMENTAL DATA HEAD:
       InvoiceNo StockCode                         Description  Quantity  \
516384   C579889     23245          SET OF 3 REGENCY CAKE TINS        -8
516385   C579890     84947   ANTIQUE SILVER TEA GLASS ENGRAVED        -1
516386   C579890     23374             RED SPOT PAPER GIFT BAG        -1
516387   C579890     84945  MULTI COLOUR SILVER T-LIGHT HOLDER        -2
516388   C579891     23485       BOTANICAL GARDENS WALL CLOCK         -1

               InvoiceDate  UnitPrice  CustomerID         Country
516384 2011-12-01 08:12:00       4.15     13853.0  United Kingdom
516385 2011-12-01 08:14:00       1.25     15197.0  United Kingdom
516386 2011-12-01 08:14:00       0.82     15197.0  United Kingdom
516387 2011-12-01 08:14:00       0.85     15197.0  United Kingdom
516388 2011-12-01 08:18:00      25.00     13644.0  United Kingdom

INCREMENTAL DATA INFO:
<class 'pandas.core.frame.DataFrame'>
Index: 25525 entries, 516384 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    25525 non-null  object
 1   StockCode    25525 non-null  object
 2   Description  25510 non-null  object
 3   Quantity     25525 non-null  int64
 4   InvoiceDate  25525 non-null  datetime64[ns]
 5   UnitPrice    25525 non-null  float64
 6   CustomerID   17661 non-null  float64
 7   Country      25525 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 1.8+ MB

INCREMENTAL DATA DESCRIPTION:
           Quantity                    InvoiceDate     UnitPrice    CustomerID
count  25525.000000                          25525  25525.000000  17661.000000
mean       8.867111  2011-12-05 20:26:10.413320448      5.246451  15302.368326
min   -80995.000000            2011-12-01 08:12:00      0.000000  12347.000000
25%        1.000000            2011-12-04 12:31:00      1.250000  13969.000000
50%        3.000000            2011-12-05 17:28:00      2.080000  15031.000000
75%       10.000000            2011-12-08 09:20:00      4.130000  16905.000000
max    80995.000000            2011-12-09 12:50:00  17836.460000  18283.000000
std      717.849018                            NaN    137.541411   1727.644538

- This helps you understand whatâ€™s inside each dataset (column names, data types, missing values, etc.).

3. Identify and discuss at least three data quality issues

In [9]:
# Missing values
print("\nMissing values per column (Raw):")
print(raw_data.isnull().sum())

# Duplicates
print("\nNumber of duplicates (Raw):", raw_data.duplicated().sum())

# Data types
print("\nData types:")
print(raw_data.dtypes)

Missing values per column (Raw):
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Number of duplicates (Raw): 5268

Data types:
InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

Typical issues we had are ;
- Missing values â€” in columns like CustomerID or Description.
- Duplicate rows â€” identical transactions repeated.
- Inconsistent types â€” InvoiceDate stored as object instead of datetime.

In [10]:
 #  4. Merge datasets (append new records)

# Merge both datasets
combined_data = pd.concat([raw_data, incremental_data], ignore_index=True)

# Remove duplicates after merge
combined_data.drop_duplicates(inplace=True)

print("Combined dataset shape:", combined_data.shape)

Combined dataset shape: (536641, 8)

- We merge the incremental data into the raw dataset to have the most complete version.
- Dropping duplicates ensures we donâ€™t double-count transactions.

In [11]:
# 5. Save validated copies to /data/
raw_data.to_csv('data/raw_validated.csv', index=False)
combined_data.to_csv('data/combined_validated.csv', index=False)

print("âœ… Validated datasets saved successfully.")

âœ… Validated datasets saved successfully.

- Both cleaned and combined datasets are now saved and ready for the transformation phase.